<mat-toolbar color="primary">
    <h1>{{title}}</h1>
    <ng-container *ngIf="!isLoggedIn">
        <button mat-button mat-raised-button (click)="navigate('login')" class="desktop-only"><i class="sprite sprite-report"></i>Bejelentkezés</button>
    </ng-container>
</mat-toolbar>

<router-outlet></router-outlet>
